<!-- <section id="config" class="animated bounceIn">

  <section class="usage">
    <h1>Usage Statistics</h1>
    Usage: {{usage}}
  </section>

  <div class="pure-g">
    <div class="pure-u-3-5">
      <table>
        <thead>
          <tr>
            <th class="active">Active?</th>
            <th class="id">Endpoint</th>
            <th class="created-at"></th>
            <!-- <th class="actions">Actions</th> -
            <!-- <th class="experiments">Experiments</th> -
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="endpoint in endpoints">
            <td class="active">
              <a class="activate" href="" ng-click="activateEndpoint(endpoint)" title="Activate {{endpoint.id}}" ng-if="!endpoint.is_active">•</a>
              <a class="deactivate" href="" ng-click="deactivateEndpoint(endpoint)" title="Deactivate {{endpoint.id}}" ng-if="endpoint.is_active">•</a>
            </td>
            <td class="id">
              {{endpoint.id}}
            </td>
            <td class="created-at">{{endpoint.created_at | date:'short'}}</td>
            <!-- <td class="actions">{{endpoint.action_count}}</td> -
            <!-- <td class="experiments">{{endpoint.experiment_count}}</td> -

            <!-- <td class="delete"><a href="" ng-click="deactivateEndpoint(endpoint)" title="Deactivate {{endpoint.id}}" ><i class="icon ion-ios7-trash-outline"></i></a></td> -
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td class="add-endpoint">
              <button ng-click="addEndpoint()"><i class="icon ion-plus"></i> Add endpoint</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pure-u-2-5">
      <section class="help">
        <h3>What are endpoints?</h3>
        <p>
          Endpoint is just a fancy word for "API key". They are used in order to configure the abcd client.
        </p>
        <highlight endpoint="activeEndpoint || endpoints[0]">
var endpoint = 'ead7300a-93ad-41f7-916e-bcee6517251c';
abcd.endpoint = endpoint;


var experiment = abcd.experiment('Checkout process')
experiment.variant('control', function () {
  console.log('control');
})
.variant('blue button', function () {
  console.log('blue button');
})
.variant('yellow button'x, function () {
  console.log('yellow button');
})
.start(function () {
  experiment.end(function () {
    experiment.reset();
  });
});
        </highlight>
      </section>
    </div>
  </div>


</section> -->

<section class="pure-g create-project" ng-if="new">
  <div class="pure-u-1-4"></div>
  <section class="pure-u-1-2">
    <form role="form" name="form" ng-submit="createProject(project)" novalidate>
      <div class="input-group">
        <i class="icon ion-android-promotion"></i>
        <input class="depth1" placeholder="e.g. PRISM" type="name" id="name" name="name" ng-model="project.name" required ng-class="{ 'error' : form.name.$invalid && !form.name.$pristine }">
      </div>
      <div class="pure-g">
        <div class="pure-u-1-2">
          <p>
            Projects consist of various experiments.
            There is no need to explicitley create experiments.
          </p>
        </div>
      </div>
    </form>
  </section>
  <div class="pure-u-1-4"></div>
</section>
