<section id="signin">
  <!-- <nav class="pure-g">
    <div class="pure-u-1-3">
    </div>
    <div class="pure-u-1-3">
      <a class="logo" href="#/">abcd</a>
    </div>
    <div class="pure-u-1-3">
      <a class="active" href="#/signin">signin</a>
      <a href="#/signup">Sign Up</a>
    </div>
  </nav> -->

  <form role="form" ng-submit="createToken(user)" class="animated bounceIn">
    <h1>Sign In</h1>
    <label for="email-input">Email</label>
    <input ng-model="user.email" type="email" name="email-input" placeholder="e.g. santa@claus.beard" required minlength="3">
    <label for="password-input">Password</label>
    <input ng-model="user.password" type="password" name="password-input" placeholder="e.g. ••••••••••" required minlength="6">
    <span class="error" ng-if="error">{{error}}</span>
    <button type="submit">Sign In!</button>
    <p>
      <a href="#/forgot">Forgot your password?</a><br>
      First time user? - <a href="#/signup">Sign Up</a>
    </p>
  </form>
</section>
