@import '../../node_modules/normalize.css/normalize.css'
@import '../../node_modules/animate.css/animate.css'

nav-background = #444
button-background = #3b50ce

.depth1
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

.depth2
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.depth3
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.depth4
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.depth5
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

.card
  padding: 0.5em
  margin: 0.5em
  background: #fff
  border-radius(2px)
  text-align: left

.right
  text-align: right

.center
  text-align: center

.left
  text-align: left


.seamless
  margin-top: 0

.inner-seamless
  padding: 0

.drop-element
  padding: 0 0.5em
  .drop-content
    @extend .depth1
    background: #fff
    padding: 0 !important
    a
      padding: 0.25em 0.5em
      display: inline-block
      border-bottom: 1px solid #eee

[ng-click]
  cursor: pointer

html, body
  min-height: 100%

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font: 400 16px/1.5 "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  -webkit-font-smoothing: antialiased
  color: #666
  background: #e4e4e4

input
  -webkit-font-smoothing: antialiased

a
  color: #666
  text-decoration: none
  border-bottom: 1px solid #ccc

h1, h2, h3, h4, h5, h6
  color: #444
  font-weight: 300
  margin: 0

p
  margin: 0

input
  border: 0
  @extend .card
  margin: 0
  &.error
    background: lighten(#990000, 90%)

span.error
  color: #990000

button
  border: 0
  @extend .card
  margin: 0
  background: button-background
  color: lighten(button-background, 90%)
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  font-weight: bold
  &[disabled]
    opacity: 0.5
  &:focus
    outline: 0

nav
  background: nav-background
  @extend .depth1
  padding: 0 0.5em
  img
    height: 1em
    border-radius: 1em
  a
    color: lighten(nav-background, 80%)
    text-decoration: none
    border: 0
    display: inline-block
    padding: 0.5em 0.25em
    .icon
      vertical-align: middle
      &.ion-chevron-down
        color: lighten(nav-background, 60%)
        font-size: 0.5em
    &:last-child
      margin: 0
    &:hover, &.logo
      color: lighten(nav-background, 100%)
    &.logo
      font-weight: 900
      text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
