border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font: 300 16px/1.5 "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  -webkit-font-smoothing: antialiased
  padding: 0.5em
  color: #666
  background: #f0f0f0

a
  color: #444
  text-decoration: none
  border-bottom: 1px solid #ccc

label
  color: #ccc

h1, h2, h3, h4, h5, h6
  color: #444
  font-weight: 300

form
  input
    border: 1px solid #ddd
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    background: #fff
    border-radius: 2px
    padding: 1em
    margin-bottom: 1em
    color: #444
  .error
    color: #990000
  button
    font-weight: 300
    background: #70A0C3
    padding: 1em
    border-radius: 2px
    border: 0
    color: #fff
    margin-top: 1.5em
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

nav
  a
    color: #ccc
    border: 0

nav
  display: block
  &:after
    content: ""
    display: table
    clear: both
  a
    float: right
    display: inline-block
    padding: 0.25em
    color: #ccc
    text-decoration: none
    &.active
      color: #999

#message
  position: absolute
  padding: 0.5em
  top: 0
  right: 0
  left: 0
  width: 100%
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  &.error
    background: rgba(153,0,0,0.8)
    color: rgba(255, 255, 255, 0.8)
  &.success
    background: rgba(51,102,0,0.8)
    color: rgba(255, 255, 255, 0.8)
