@import '../../node_modules/normalize.css/normalize.css'

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font: 400 16px/1.5 "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  -webkit-font-smoothing: antialiased
  padding: 0.5em

#login, #signup
  color: #ccc
  text-align: center
  background: #f0f0f0
  form
    max-width: 400px
    margin: 10% auto
    text-align: left
    padding: 10px
    h1
      font-weight: 300
      color: #444
      text-align: center
    label
      margin-bottom: 5px
      display: block
    input
      border: 1px solid #ddd
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      background: #fff
      border-radius: 2px
      padding: 1em
      display: block
      width: 100%
      margin-bottom: 15px
      color: #444
    #error
      color: #990000
    button
      font-weight: 300
      background: #70A0C3
      padding: 1em
      border-radius: 2px
      border: 0
      color: #fff
      width: 100%
      margin-top: 25px
      display: block
      text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    p
      margin-top: 15px
      color: #666
      a
        color: #444
        text-decoration: none
        border-bottom: 1px solid #ccc

#experiments
  color: #ccc
  background: #f0f0f0
  nav
    display: block
    &:after
      content: ""
      display: table
      clear: both
    a
      float: right
      display: inline-block
      padding: 0.25em
      color: #ccc
      text-decoration: none
  h3
    color: #666
    margin: 0
    padding: 0.5em 8px
    font-weight: 300
  table
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    border-radius: 2px
    background: #fff
    width: 100%
    thead
      tr
        border-bottom: 1px solid #ddd
        .running
          width: 100px
        .name
          text-align: left
        .visitors, .actions
          width: 70px
        .delete
          width: 30px
        th
          padding: 0.5em
          font-weight: 300
    tbody
      tr
        border-bottom: 1px solid #efefef
        &:nth-child(even)
          background: rgba(0, 0, 0, 0.02)
        .running-true, .running-false
          text-align: center
        .running-true
          color: green
        .running-false
          color: red
        .running, .visitors, .actions
          text-align: center
        .delete
          text-align: center
          button
            border: 0
            background: none
            color: #ccc
            &:hover
              color: red
        td
          padding: 0.5em
          a
            color: #444
            text-decoration: none
