@import "base.styl"

#signin, #signup, #forgot, #support
  font-size: 1.5em
  text-align: center
  form
    max-width: 100%
    margin: 10% auto
    text-align: left
    span
      font-size: 0.75em
    input, button, span, textarea
      display: block
      width: 100%
    input, button, p, textarea
      margin-top: 0.5em
    button, p
      text-align: center
    input, button
      font-size: 1em

#signin, #signup, #forgot
  form
    width: 400px

#support
  form
    textarea
      border: 0
      margin: 0
      height: 300px
      color: #666
    width: 600px
    p
      text-align: left

table
  border-collapse: collapse
  width: 100%
  thead
    border-bottom: 1px solid #eee
  tr
    border-bottom: 1px solid #eee
    &:last-child
      border-bottom: 0
    &:hover
      background: #f4f4f4
    &:nth-child(even)
      background: #f9f9f9
    td, th
      padding: 0.75em 0.5em
  .mini
    width: 0.5%
    white-space: nowrap

span.id
  font-family: Consolas, monaco, monospace
  background: #eee
  color: #444

#experiments
    tr
      a
        border: 0
      &.deleted
        opacity: 0.3
      &:last-child td:first-child
        border-bottom-left-radius: 2px
      &:last-child td:last-child
        border-bottom-right-radius: 2px
      td, th
        &.active
          text-align: center
          .active
            color: green
          .inactive
            color: red
        &.archive
          font-size: 1.5em
          padding: 0.5em
  footer
    padding: 0.5em
    :last-child
      text-align: right

#experiment
  header
    input
      @extend h2
      font-size: 1.5em
      width: 100%
      display: block
      padding: 0
      border-bottom: 1px dashed #ccc
  .toggle-bar
    a
      border: 0
      color: #999
      font-weight: 300
      .icon
        color: #ccc
      &.active, &:hover
        color: #666
        .icon
          color: #999
  .actions
    display: none
    button
      background: rgba(0, 0, 0, 0.5)
      padding: 0.25em 0.5em
      font-weight: 300
  textarea
    display: block
    border: 0
    width: 100%
    padding: 0.5em
    border-radius: 2px
    color: #666
  .setup-initial
    padding: 2em
  .export
    padding: 0.5em 1em
    font-size: 0.75em
    a
      display: inline-block
      margin-left: 0.75em
  .ago
    padding: 0 1em
    font-size: 0.75em
    font-weight: 300
  .icon
    &.active
      color: green
    &.inactive
      color: red
  .debugger
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        margin-bottom: 1em
        &:last-child
          margin-bottom: 0
    .type
      border-radius(2px)
      @extend .depth1
      display: inline-block
      padding: 0.125em 0.5em
      opacity: 0.5
      margin-right: 0.5em
      margin-bottom: 0.25em
      color: #fff
      &.started
        background: #00796b
      &.completed
        background: #0288d1
    .user-agent, .ip, .duration
      font-size: 0.85em
    .user-agent
      display: block
      color: #ccc
    .ip, .duration
      display: inline-block
      color: #ddd

#usage
  .chart
    height: 500px
