.depth,
.drop-element .drop-content {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.lead {
  font-size: 1.5em;
  font-weight: 300;
  color: #666;
  margin: 1em 0;
}
.card,
code pre,
input,
button {
  padding: 0.5em;
  margin: 0.5em;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
}
.transparent {
  background: none;
}
.seamless {
  margin: 0;
}
.inner-seamless {
  padding: 0;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.subtle {
  color: #eee;
}
code pre {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0,0,0,0.05);
  margin: 0.5em 0;
}
.drop-element {
  padding: 0 0.5em;
}
.drop-element .drop-content {
  padding: 0 !important;
}
.drop-element .drop-content a {
  padding: 0.5em 0.75em;
  font-weight: 300;
  display: inline-block;
  border-bottom: 1px solid #eee;
}
.drop-element .drop-content a .icon {
  margin-right: 0.5em;
}
[ng-click] {
  cursor: pointer;
}
html,
body {
  min-height: 100%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #444;
  background: #e4e4e4;
  line-height: 1.5;
  font-size: 14px;
}
html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Roboto", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6,
#experiment header input {
  color: #222;
  font-weight: 500;
  margin: 0;
}
p {
  margin: 0;
}
input {
  border: 0;
  margin: 0;
}
input.error {
  background: #ffdbdb;
}
span.error {
  color: #900;
}
button {
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 0;
  margin: 0;
  background: #3b50ce;
  color: #ebeefa;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: bold;
}
button[disabled] {
  opacity: 0.5;
}
button:focus {
  outline: 0;
}
nav {
  background: #444;
  padding: 0 0.5em;
  font-weight: 500;
}
nav img {
  height: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
nav .icon {
  vertical-align: middle;
  color: #b4b4b4;
}
nav .icon.ion-chevron-down {
  font-size: 0.5em;
}
nav a {
  color: #dadada;
  text-decoration: none;
  border: 0;
  display: inline-block;
  padding: 0.5em 0.25em;
}
nav a:last-child {
  margin: 0;
}
nav a:hover,
nav a.logo {
  color: #fff;
}
nav a.logo {
  font-weight: 900;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.pagination {
  font-size: 0.75em;
}
.pagination button {
  padding: 0.25em 0.5em;
}
.pagination .status {
  color: #ccc;
  padding: 0.25em 0.5em;
}
#signin,
#signup,
#forgot,
#support {
  font-size: 1.5em;
  text-align: center;
}
#signin form,
#signup form,
#forgot form,
#support form {
  width: 400px;
  max-width: 100%;
  margin: 10% auto;
  text-align: left;
}
#signin form span,
#signup form span,
#forgot form span,
#support form span {
  font-size: 0.75em;
}
#signin form input,
#signup form input,
#forgot form input,
#support form input,
#signin form button,
#signup form button,
#forgot form button,
#support form button,
#signin form span,
#signup form span,
#forgot form span,
#support form span,
#signin form textarea,
#signup form textarea,
#forgot form textarea,
#support form textarea {
  display: block;
  width: 100%;
}
#signin form input,
#signup form input,
#forgot form input,
#support form input,
#signin form button,
#signup form button,
#forgot form button,
#support form button,
#signin form p,
#signup form p,
#forgot form p,
#support form p,
#signin form textarea,
#signup form textarea,
#forgot form textarea,
#support form textarea {
  margin-top: 0.5em;
}
#signin form button,
#signup form button,
#forgot form button,
#support form button,
#signin form p,
#signup form p,
#forgot form p,
#support form p {
  text-align: center;
}
#signin form input,
#signup form input,
#forgot form input,
#support form input,
#signin form button,
#signup form button,
#forgot form button,
#support form button {
  font-size: 1em;
}
#support form {
  width: 600px;
}
#support form textarea {
  border: 0;
  margin: 0;
  height: 300px;
  color: #666;
}
#support form p {
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table thead {
  border-bottom: 1px solid #eee;
}
table tr {
  border-bottom: 1px solid #eee;
}
table tr:last-child {
  border-bottom: 0;
}
table tr:hover {
  background: #f4f4f4;
}
table tr:nth-child(even) {
  background: #f9f9f9;
}
table tr td,
table tr th {
  padding: 0.75em 0.5em;
}
table .mini {
  width: 0.5%;
  white-space: nowrap;
}
span.id {
  font-family: Consolas, monaco, monospace;
  background: #eee;
  color: #444;
}
#experiments tr a {
  border: 0;
}
#experiments tr.deleted {
  opacity: 0.3;
}
#experiments tr:last-child td:first-child {
  border-bottom-left-radius: 2px;
}
#experiments tr:last-child td:last-child {
  border-bottom-right-radius: 2px;
}
#experiments tr td.active,
#experiments tr th.active {
  text-align: center;
}
#experiments tr td.active .active,
#experiments tr th.active .active {
  color: #008000;
}
#experiments tr td.active .inactive,
#experiments tr th.active .inactive {
  color: #f00;
}
#experiments tr td.archive,
#experiments tr th.archive {
  font-size: 1.5em;
  padding: 0.5em;
}
#experiment .summary {
  margin-bottom: 1em;
}
#experiment header input {
  font-size: 1.5em;
  width: 100%;
  display: block;
  padding: 0;
  border-bottom: 1px dashed #ccc;
}
#experiment .toggle-bar a {
  border: 0;
  color: #999;
  font-weight: 300;
}
#experiment .toggle-bar a .icon {
  color: #ccc;
}
#experiment .toggle-bar a.active,
#experiment .toggle-bar a:hover {
  color: #666;
}
#experiment .toggle-bar a.active .icon,
#experiment .toggle-bar a:hover .icon {
  color: #999;
}
#experiment textarea {
  display: block;
  border: 0;
  width: 100%;
  padding: 0.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #666;
}
#experiment .export {
  padding: 0.5em 1em;
  font-size: 0.75em;
}
#experiment .export a {
  display: inline-block;
  margin-left: 0.75em;
}
#experiment .ago {
  padding: 0 1em;
  font-size: 0.75em;
  font-weight: 300;
}
#experiment .icon.active {
  color: #008000;
}
#experiment .icon.inactive {
  color: #f00;
}
#experiment .type {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0.125em 0.5em;
  opacity: 0.5;
  color: #fff;
}
#experiment .type.started {
  background: #00796b;
}
#experiment .type.completed {
  background: #0288d1;
}
#experiment .debugger ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#experiment .debugger ul li {
  margin-bottom: 1em;
}
#experiment .debugger ul li:last-child {
  margin-bottom: 0;
}
#experiment .debugger .user-agent,
#experiment .debugger .ip,
#experiment .debugger .duration {
  font-size: 0.85em;
}
#experiment .debugger .user-agent {
  display: block;
  color: #ccc;
}
#experiment .debugger .ip,
#experiment .debugger .duration {
  display: inline-block;
  color: #ddd;
}
#usage .chart {
  height: 500px;
}
