@import "base.styl"

#signin, #signup, #forgot, #support
  font-size: 1.5em
  text-align: center
  form
    max-width: 100%
    margin: 10% auto
    text-align: left
    span
      font-size: 0.75em
    input, button, span, textarea
      display: block
      width: 100%
    input, button, p, textarea
      margin-top: 0.5em
    button, p
      text-align: center
    input, button
      font-size: 1em

#signin, #signup, #forgot
  form
    width: 400px

#support
  form
    textarea
      border: 0
      margin: 0
      height: 300px
      color: #666
    width: 600px
    p
      text-align: left

table
  border-collapse: collapse
  width: 100%
  thead
    border-bottom: 1px solid #eee
  tr
    border-bottom: 1px solid #eee
    &:last-child
      border-bottom: 0
    &:hover
      background: #f4f4f4
    &:nth-child(even)
      background: #f9f9f9
    td, th
      padding: 0.75em 0.5em
  .mini
    width: 0.5%
    white-space: nowrap

span.id
  font-family: Consolas, monaco, monospace
  background: #eee
  color: #444

#experiments
    tr
      a
        border: 0
      &.deleted
        opacity: 0.3
      &:last-child td:first-child
        border-bottom-left-radius: 2px
      &:last-child td:last-child
        border-bottom-right-radius: 2px
      td, th
        &.active
          text-align: center
          .active
            color: green
          .inactive
            color: red
        &.archive
          font-size: 1.5em
          padding: 0.5em
  footer
    padding: 0.5em
    :last-child
      text-align: right

#experiment
  header
    input
      @extend h2
      font-size: 1.5em
      width: 100%
      display: block
      padding: 0
      border-bottom: 1px dashed #ccc
  .actions
    display: none
    button
      background: rgba(0, 0, 0, 0.5)
      padding: 0.25em 0.5em
      font-weight: 300
  textarea
    display: block
    border: 0
    width: 100%
    padding: 0.5em
    border-radius: 2px
    color: #666
  .setup-initial
    padding: 2em
  .export
    padding: 0.5em 1em
  .ago
    padding: 0 1em
    font-size: 0.75em
    font-weight: 300
    // color: #aaa
  .icon
    &.active
      color: green
    &.inactive
      color: red
  .chart
    .area
      fill: steelblue
      clip-path: url(#clip)
    .axis path,
    .axis line
      fill: none
      stroke: #000
      shape-rendering: crispEdges
    .brush .extent
      stroke: #fff
      fill-opacity: .125
      shape-rendering: crispEdges
