<section id="support" class="animated bounceIn">
  <form role="form" name="form" ng-submit="createTicket(request)" novalidate>
    <textarea class="card depth1" placeholder="I'm having trouble with..." id="problem" name="password" ng-model="request.problem" required></textarea>

    <button type="submit" ng-disabled="form.$invalid">Send!</button>

    <span class="success" ng-if="success">Awesome! We'll come back to you ASAP.</span>

    <p>Don't feel like using our beautiful form? - Email me at <a href="mailto:alexander.gugel@gmail.com">alexander.gugel@gmail.com</a></p>
  </form>
</section>
