<section id="dashboard">

  {{usage}}

  <div class="pure-g endpoints">
    <section class="pure-u-1-2 animated bounceInLeft">
      <h2><i class="icon ion-key"></i> Active endpoints</h2>
      <!-- <p>Experiments are always associated with an endpoint. Deactivating endpoints means no more conversions will be recorded for this endpoint.</p> -->
      <ul>
        <li class="endpoint" ng-repeat="endpoint in endpoints" ng-if="endpoint.is_active">
          {{endpoint.id}}
          <span ng-click="deactivateEndpoint(endpoint)" title="Deactivate {{endpoint.id}}"><i class="icon ion-close"></i></span>
        </li>
        <li class="add-endpoint" ng-click="addEndpoint()" title="Add a new endpoint">
          <i class="icon ion-plus"></i>
        </li>
      </ul>
    </section>
    <section class="pure-u-1-2 animated bounceInRight">
      <h2><i class="icon ion-key"></i> Inactive endpoints</h2>
      <!-- <p>Accidentaly deactivated an endpoint? No problem endpoints can be reactivated.</p> -->
      <ul>
        <li class="endpoint" ng-repeat="endpoint in endpoints" ng-if="!endpoint.is_active">
          {{endpoint.id}}
          <span ng-click="activateEndpoint(endpoint)" title="Reactivate {{endpoint.id}}"><i class="icon ion-reply"></i></span>
        </li>
      </ul>
    </section>
  </div>
  

  <script id="endpoints-template" type="x-tmpl-mustache">
    {{#endpoints}}
      <div class="endpoint" data-endpoint="{{endpoint}}">
        <h2>Experiments for endpoint <span>{{endpoint}} <button class="delete-endpoint" title="Delete this endpoint">×</button></span></h2>


        <table class="experiments">
          <thead>
            <tr>
              <th class="running">Running?</th>
              <th class="name">Name</th>
              <th class="visitors">Visitiors</th>
              <th class="actions">Actions</th>
              <th class="delete"></th>
            </tr>
          </thead>
          <tbody>
            {{#experiments}}
              <tr class="experiment" data-id="{{id}}">
                <td class="running-{{running}} running">•</td>
                <td><a href="./experiment/{{id}}">{{name}}</a></td>
                <td class="visitors">{{visitors}}</td>
                <td class="actions">{{actions}}</td>
                <td class="delete"><button data-id="{{id}}" title="Delete this experiment" class="delete-experiment">×</button></td>
              </tr>
            {{/experiments}}
            {{^experiments.0}}
              <tr>
                <td></td>
                <td><em>No experiments available for this endpoint :(</em></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {{/experiments.0}}
          </tbody>
        </table>
      </div>
    {{/endpoints}}
    {{^endpoints.0}}
      <h1>No endpoints available :(</h1>
    {{/endpoints.0}}
  </script>
</section>
