<section id="dashboard">
  <nav class="pure-g">
    <div class="pure-u-2-5">
    </div>
    <div class="pure-u-1-5 animated fadeInDown">
      <a class="logo" href="#/">abcd</a>
    </div>
    <div class="pure-u-2-5 animated bounceInRight">
      <!-- <a href="#/dashboard" class="active">Dashboard</a> -->
      <a href="#/settings"><i class="icon ion-gear-a"></i></a>
      <a href="#/docs"><i class="icon ion-ios7-bookmarks"></i></a>
      <a href="#/logout"><i class="icon ion-log-out"></i></a>
    </div>
  </nav>

    <ul class="endpoints animated bounceIn">
      <li class="endpoint" ng-repeat="endpoint in endpoints">
        <!-- <h2>Experiments for endpoint <span>{{endpoint.id}} <button class="delete-endpoint" ng-click="deleteEndpoint(endpoint)" title="Delete this endpoint">×</button></span></h2> -->
        <span>{{endpoint.id}}</span>
        <!-- <table class="experiments">
          <thead>
            <tr>
              <th class="running">Running?</th>
              <th class="name">Name</th>
              <th class="visitors">Visitiors</th>
              <th class="actions">Actions</th>
              <th class="delete"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table> -->
      </li>
      <li class="add-endpoint">
        <button class="animated bounceInUp" ng-click="addEndpoint()"><i class="icon ion-plus"></i> Add endpoint</button>
      </li>
    </ul>

  <script id="endpoints-template" type="x-tmpl-mustache">
    {{#endpoints}}
      <div class="endpoint" data-endpoint="{{endpoint}}">
        <h2>Experiments for endpoint <span>{{endpoint}} <button class="delete-endpoint" title="Delete this endpoint">×</button></span></h2>


        <table class="experiments">
          <thead>
            <tr>
              <th class="running">Running?</th>
              <th class="name">Name</th>
              <th class="visitors">Visitiors</th>
              <th class="actions">Actions</th>
              <th class="delete"></th>
            </tr>
          </thead>
          <tbody>
            {{#experiments}}
              <tr class="experiment" data-id="{{id}}">
                <td class="running-{{running}} running">•</td>
                <td><a href="./experiment/{{id}}">{{name}}</a></td>
                <td class="visitors">{{visitors}}</td>
                <td class="actions">{{actions}}</td>
                <td class="delete"><button data-id="{{id}}" title="Delete this experiment" class="delete-experiment">×</button></td>
              </tr>
            {{/experiments}}
            {{^experiments.0}}
              <tr>
                <td></td>
                <td><em>No experiments available for this endpoint :(</em></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {{/experiments.0}}
          </tbody>
        </table>
      </div>
    {{/endpoints}}
    {{^endpoints.0}}
      <h1>No endpoints available :(</h1>
    {{/endpoints.0}}
  </script>
</section>
