<nav class="pure-g animated fadeInDown">
  <div class="pure-u-2-5">
    <!-- <select class="endpoint" ng-model="activeEndpoint" ng-options="endpoint.id for endpoint in endpoints">
      <option value="">-- choose endpoint --</option>
    </select> -->
    <button>Endpoints</button>
    <a href="#/debugger">Debugger</a>
  </div>
  <div class="pure-u-1-5">
    <a class="logo" href="#/">abcd</a>
  </div>
  <div class="pure-u-2-5">
    <!-- <a href="#/dashboard" class="active">Dashboard</a> -->
    <!-- <a href="#/settings"><img ng-src="{{user.gravatar}}"></a> -->
    <!-- <a href="#/docs"><i class="icon ion-ios7-bookmarks"></i></a> -->
    <a ng-click="" href="" profile-link ng-if="user">
      {{user.email}}
      <!-- <div ng-show="showPopover" class="popover">
        <a href="#/settings"><i class="icon ion-gear-a"></i> Account settings</a>
        <br>
        <a href="#/logout"><i class="icon ion-log-out"></i> Signout</a>
      </div> -->
    </a>
  </div>
</nav>
