<section id="signup" class="animated bounceIn">
  <form role="form" name="form" ng-submit="createUser(user)" novalidate>
    <h1>Sign Up</h1>

    <label for="email">Email</label>
    <div class="input-group">
      <input placeholder="e.g. santa@claus.com" type="email" id="email" name="email" ng-model="user.email" required ng-class="{ 'error' : form.email.$invalid && !form.email.$pristine }">
      <i class="icon ion-ios7-email-outline"></i>
      <span ng-show="form.email.$invalid && !form.email.$pristine" class="error">Please enter a valid email address.</span>
    </div>

    <label for="password">Password</label>
    <div class="input-group">
      <input placeholder="e.g. cute_dogs24$$" type="password" id="password" name="password" ng-model="user.password" required ng-minlength="6" ng-class="{ 'error' : form.password.$invalid && !form.password.$pristine }">
      <i class="icon ion-ios7-keypad-outline"></i>
      <span ng-show="form.password.$error.minlength" class="error">Password is too short (min 6 chars).</span>
      <span ng-show="form.password.$invalid && !form.password.$pristine" class="error">Please choose a strong password.</span>
    </div>

    <span class="error" ng-show="error">{{error}}</span>

    <button type="submit" ng-disabled="form.$invalid">Sign Up!</button>

    <p>
      Already have an account? - <a href="#/signin">Sign In</a>
    </p>
  </form>
</section>
