<section id="signup" class="animated bounceIn">
  <form role="form" name="form" ng-submit="createUser(user)" novalidate>
    <input class="depth" placeholder="Email" type="email" id="email" name="email" ng-model="user.email" required ng-class="{ 'error' : form.email.$invalid && !form.email.$pristine }">
    <span ng-show="form.email.$invalid && !form.email.$pristine" class="error">Please enter a valid email address.</span>

    <input class="depth" placeholder="Password" type="password" id="password" name="password" ng-model="user.password" required ng-minlength="6" ng-class="{ 'error' : form.password.$invalid && !form.password.$pristine }">
    <span ng-show="form.password.$error.minlength" class="error">Password is too short (min 6 chars).</span>

    <span class="error" ng-show="error">{{error}}</span>

    <button type="submit" ng-disabled="form.$invalid">Sign Up!</button>

    <p>
      Already have an account? - <a href="#/signin">Sign In</a>
    </p>
  </form>
</section>
